# Dependencies
node_modules/

# Production Build Output
dist/

# Local Environment Variables
.env
.env.local
.env.*.local

# OS Logs/System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
